{% extends "lucyDJ/base.html" %}
{% load calcfilters %}
{% load staticfiles %}
{% block content %}
<h1> Calculation results for function {{ funcname }} </h1>

<form action="" method="get">

    <div class="parameters">

        {% for field in form%}
        <div class="parameter">
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}

        {% for field in cform%}
        <div class="parameter">
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}

        <div class="parameter">
            <input type=submit value='Load data'> </input>
        </div>

    </div>

</form>

<div class="rubberblock" style="top: 54.75%">
    <div class="rubberblock-inner">
        <table>
            <thead>
                <tr>
                    {% for field in oform %}
                    <td>
                        {{ field.name }}
                    </td>
                    {% endfor %}
                </tr>
            </thead>
            <thead>
                <tr>
                    {% for field in oform %}
                    <td>
                        {{ field }}
                    </td>
                    {% endfor %}
                </tr>
            </thead>
            {% for line in lines %}
            <tr>

                {% for field in oform %}
                <td>
                    {{ line|get:field.name}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div id='container' class="rubberblock">
</div>
<!--<script src="{% static "js/XYchart.js" %}></script>-->

{% endblock %}

