{% extends "lucyDJ/base.html" %}
{% load calcfilters %}
{% load staticfiles %}
{% block content %}
<h1> Calculation results for function {{ funcname }} </h1>

<script>
$(function () {

    var $container = $('#container')
    var base = Highcharts.Color("#ff6666")

        $container.highcharts({
            chart: {
                type: "{{ gform.graph_type.value }}",
                zoomType: 'xy',
                spacingTop: 0,
                spacingBottom: 15,
                spacingLeft: 5,
                spacingRight: 5,
                style: {
                    fontFamily: 'serif',
                    fontSize: "10pt",
                    fontWeight: "normal",
                }
            },
            legend: {
                itemStyle: {
                    fontSize: "8pt",
                    fontWeight: "normal"
                },
                title: {
                    text:
                        "{% for field in form %}" +
                        "{{field.label}} = {{ field.value}}, " +
                        "{% endfor %}",
                    style: {
                        fontSize: "8pt",
                        fontWeight: "normal"
                    }
                },
                layout: "horizontal",
                align: "right",
                verticalAlign: "bottom",
                itemWidth: 400,
                lineHeight: 50,
            },
            xAxis: {
                title: {
                    text: "{{ gform.graph_x.value }}"
                }
            },
            yAxis: {
                title: {
                    text: " {{ gform.graph_y.value }}"
                }
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 2.0
                    },
                    lineWidth: 1.0,
                    dataLabels: {
                        style: {
                            fontFamily: 'serif',
                            fontSize: "8pt",
                            fontWeight: "normal",
                        },
                    },
                    showInLegend: true
                },
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        style: {
                            fontFamily: 'serif',
                            fontSize: "8pt",
                            fontWeight: "normal",
                        },
                        enabled: true,
                        format: "{point.name},<br>{point.y} lines ({point.percentage:.1f} % of total)</br>",
                    },
                    showInLegend: true
                }
            },

            {% if gform.graph_type.value == "pie" %}
            title: {
                text: '',
            },
            series: [{
                data:
                    [
                    {% for line in lines|pieces:gform.category.value %}
                        { name: "{{ gform.category.value }} {{ line| get:0 }}",
                            y: {{ line|get:1 }},
                            color: base.brighten({{ line|get:1 }} / {{ lines|length}} - 0.45).get(),
                        },
                    {% endfor %}
                    ]

            }],
            {% endif %}

            {% if gform.graph_type.value == "scatter" %}
            title: {
                text: "{{ gform.graph_y.value }}" +
                    "of {{ gform.graph_x.value }}" +
                    "dependency for each {{ gform.category.value }}"
            },
            series: [
            {% for line in lines|categorized:gform.category.value %}
            {
                name: "{{category}} {{ line|get:0 }}",
                data:
                    [
                    {% for point in line|get:1 %}
                [
                {{ point | get:gform.graph_x.value }},
                {{ point | get:gform.graph_y.value }}
                ],
                {% endfor %}

                    ]},
            {% endfor %}

            ],
            {% endif %}
        });
});
</script>

<div id="allpace" class="allspace">
    <div class="leftspace">
        <div class="tests" id="testdiv">
            {{ form.label }}
        </div>
    </div>

    </form>
    <div id="dbview" class="rubberblock">
        <div id="graphknopa" class="rubberfill">
            <img class="knopamin" id="graphmin" src="{% static "minimize.png" %}"/>
            <img class="knopamax" id="graphmax" src="{% static "maximize.png" %}"/>
        </div>
        <div id = 'container' class="rubberblock-inner"> </div>
        <div id="tableknopa" class="rubberfill">
            <img class="knopamin" id="tablemin" src="{% static "minimize.png" %}"/>
            <img class="knopamax" id="tablemax" src="{% static "maximize.png" %}"/>
        </div>
        <div class="rubberblock-inner" id="table">
            <table>
                <thead>
                    <tr>
                        {% for field in oform %}
                        <td>
                            {{ field.name }}
                        </td>
                        {% endfor %}
                    </tr>
                </thead>
                <thead>
                    <tr>
                        {% for field in oform %}
                        <td>
                            <div class=outparameter>
                                {{ field }}
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                </thead>
                {% for line in lines %}
                <tr>

                    {% for field in oform %}
                    <td>
                        {{ line|get:field.name}}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="vfill"> </div>

    <div id="parameters" class="parameters">
        <div class="filler" style="position: relative; top: 5%"> </div>
        <form action="" method="get">

            {% for field in form%}

            <div class="labelofpar">
                {{ field.label_tag }}
            </div>

            <div class="parameter">
                {{ field }}
            </div>

            <div class="filler"> </div>

            {% endfor %}

            {% for field in cform%}

            {% if forloop.counter == 2 %}

            <div class="parameter">
                <input type=submit value='Load data'> </input>
            </div>

            <div class="filler"> </div>

            {% endif %}

            <div class="labelofpar">
                {{ field.label_tag }}
            </div>

            <div class="parameter">
                {{ field }}
            </div>

            <div class="filler"> </div>

            {% endfor %}

            {% for field in gform%}

            <div class="labelofpar">
                {{ field.label_tag }}
            </div>

            <div class="parameter">
                {{ field }}
            </div>

            <div class="filler"> </div>

            {% endfor %}

        </form>
    </div>
</div>

<script>
$("#graphmin").click(function(){
    $("#container").animate({
        width: "98%",
        height: "46%",
    });
    $("#dbview").animate({
        width: "50%",
        height: "100%",
    });
    $("#testdiv").show();
    $("#parameters").show();
    var chart = $('#container').highcharts();
    chart.setSize(
            $("#dbview").width() * 0.5,
            $("#dbview").height() * 0.4,
            true
            );
});

$("#graphmax").click(function(){
    $("#container").animate({
        width: "100%",
        height: "100%",
    });
    $("#dbview").animate({
        width: "100%",
        height: "100%",
    });
    $("#graphknopa").animate({
        width: "100%",
    });
    $("#testdiv").hide();
    $("#parameters").hide();
    var chart = $('#container').highcharts();
    chart.setSize(
            $("#dbview").width() * 2,
            $("#dbview").height() * 0.8,
            true
            );
});

$("#tablemin").click(function(){
    $("#table").animate({
        width: "98%",
        height: "46%",
    });
    $("#dbview").animate({
        width: "50%",
        height: "100%",
    });
    $("#testdiv").show();
    $("#parameters").show();
    $("#container").show();
    $("#graphknopa").show();
});
$("#tablemax").click(function(){
    $("#table").animate({
        width: "100%",
        height: "100%",
    });
    $("#dbview").animate({
        width: "100%",
        height: "100%",
    });
    $("#tableknopa").animate({
        width: "100%",
    });
    $("#testdiv").hide();
    $("#parameters").hide();
    $("#container").hide();
    $("#graphknopa").hide();
});
</script>

{% endblock %}

