{% extends "lucyDJ/base.html" %}
{% block content %}
<h1> Беспорядочная куча мусора от работы модели</h1>

<div class="buttonpanel">
    <form action="" method="get">
        <input style="top: 10%" id="calcparams" type=number step="any" name="Amplitude">
        {{ form.amplitude }}
        <input type="submit" value="Apply" style="top: 15%">
    </form>
        <button style="top: 25%" id="launch"> Launch </button>
        <button style="top: 35%" id="show_graph"> Show graph</button>
        <input style="top: 55%" id="request">
        <button style="top: 60%"id="filter"> Filter </button>
</div>

<script>
$(function () {
var amp = $('#calcparams').val();
var te = amp.toString();
    $('#container').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: te
        },
        xAxis: {
            title: {
                text: 'phase'
            }
        },
        yAxis: {
            title: {
                text: 'Values'
            }
        },
        series: [{
            name: 'Data pull',
            data:
                [{% for line in lines %}
            [{{ line.abscissa }}, {{ line.ordinate }} * amp],
            {% endfor %}]
        }]
    });
});
</script>

<div id="container" class="rubberblock"> </div>
<div class="rubberblock" style="top: 53.75%">
    <table>
        <thead>
            <tr>
                <td>
                    X-coordinate
                </td>
                <td>
                    Y-coordinate
                </td>
            </tr>
        </thead>
        {% for line in lines %}
        <tr>
            <td> {{line.abscissa }} </td>
            <td> {{line.ordinate}} </td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}

